@font-face {
  font-family: 'wolf';
  src:  url('wolf.eot?qj4g0q');
  src:  url('wolf.eot?qj4g0q#iefix') format('embedded-opentype'),
    url('wolf.ttf?qj4g0q') format('truetype'),
    url('wolf.woff?qj4g0q') format('woff'),
    url('wolf.svg?qj4g0q#wolf') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wolf-"], [class*=" wolf-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wolf' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wolf-Schoolsistance-Logo:before {
  content: "\e900";
}
